[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "third_party/litedram"]
	path = third_party/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "third_party/liteeth"]
	path = third_party/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "third_party/litepcie"]
	path = third_party/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "third_party/litesata"]
	path = third_party/litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "third_party/litescope"]
	path = third_party/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "third_party/liteusb"]
	path = third_party/liteusb
	url = https://github.com/enjoy-digital/liteusb.git
[submodule "third_party/litevideo"]
	path = third_party/litevideo
	url = https://github.com/enjoy-digital/litevideo.git
[submodule "third_party/edid-decode"]
	path = third_party/edid-decode
	url = https://github.com/timvideos/edid-decode.git
[submodule "third_party/flash_proxies"]
       path = third_party/flash_proxies
       url = https://github.com/jordens/bscan_spi_bitstreams
[submodule "third_party/migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen.git
[submodule "third_party/litex-renode"]
	path = third_party/litex-renode
	url = https://github.com/litex-hub/litex-renode.git
[submodule "third_party/nmigen"]
	path = third_party/nmigen
	url = https://github.com/m-labs/nmigen.git
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards
[submodule "third_party/liteiclink"]
	path = third_party/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "third_party/VexRiscv"]
	path = third_party/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
